<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/clientes" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        <span>Clientes</span>
      </a>
      <a mat-list-item routerLink="/reservas" routerLinkActive="active-link">
        <mat-icon>event</mat-icon>
        <span>Reservas</span>
      </a>
      <mat-list-item>
        <mat-icon>fitness_center</mat-icon>
        <span>Planes</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>assessment</mat-icon>
        <span>Reportes</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>notifications</mat-icon>
        <span>Notificaciones</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
